@import "../../styles/variables";

.sign-up-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    height: 100%;
}

.side-content {
    background-color: rgb(228, 184, 184);
    height: 100vh;

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.sign-up-form-wrapper {
    display: grid;
    align-items: start;
    padding: 10rem 1rem;


}