$body-font: "Source Sans Pro",
"Helvetica Neue",
Arial,
sans-serif;

$half-mobile-width: 420px;
$mobile-width: 840px;
$tablet-width: 1025px;
$desktop-width: 1192px;
$laptop-width: 1024px;


$primary-color: rgb(65, 184, 131);
$second-color: rgb(53, 73, 94);
$meeky-black: rgb(29, 49, 85);
$white: rgb(255, 255, 255);
$fast-car-red: red;

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 24px;


@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size !important;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) !important;
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size !important;
            }
        }
    }
}


.header-small {}