@import './variables';


#app {
    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}




html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}


body {
    font-family: $body-font;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.error-text {
    color: $fast-car-red;
    font-size: .6rem;
}

input[type=text] {
    height: 2.1rem;
    width: 100%;
    font-size: 0.92rem;
    font-family: inherit;
    border: none;
    transition: all .5s;
    border-bottom: 1px solid rgba(29, 49, 85, 0.2);
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

    &:focus {
        outline: none;
        border-bottom: 3px solid $primary-color;
    }

    &::-webkit-input-placeholder {
        color: $primary-color;
        opacity: 0.6;
    }

    &:placeholder-shown+.input-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1.67rem);
    }

    &.error {
        border-bottom: 3px solid red;
    }
}